<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:pt="http://www.plumtree.com/xmlschemas/ptui/">
<head>
<meta content="text/html;charset=UTF-8" http-equiv="content-type">
<link rel="stylesheet" href="lib/stylesheets/graytabs.css" type="text/css">
<link rel="stylesheet" href="lib/stylesheets/dashboard.css" type="text/css">
<link rel="stylesheet" href="lib/stylesheets/touch-fancy.css" type="text/css">
<title>Consent of New User</title>
<script src="lib/javascripts/touchScreenToolkit.js" language="javascript" type="text/javascript"></script>
<script language="javascript" src="lib/javascripts/dashboard.js" type="text/javascript"></script>
</head>
<body>
<div id="content">
<div id="details" >
<div id="detailsRow1">
<div id="mainTopicContent">
<div id="topicRow">
<div id="detailsTopic">BP Results</div>
</div>
</div>
</div>
<div id="detailsRow2">
<div id="detailscontainer">
<div id="mainTopicContent">
<div id="nameRow">
<div id="id">SYSTOLIC</div>
<div id="idvalue">:<%= @last_results[:systolic]%> mmHg</div>
</div>
<div id="residenceRow">
<div id="residence">DIASTOLIC</div>
<div id="residencevalue">:<%= @last_results[:diastolic]%> mmHg</div>
</div>
<div id="ageRow" class="patientLabelRow">
<div id="age" class="patientLabel">PULSE</div>
<div id="agevalue" class="patientLabelValue">:<%= @last_results[:pulse]%> /min</div>
</div>
</div>
</div>
</div>
</div>
<div id="tabPageContainer2">
<label id="helpText0" class="helpTextClass">DO YOU WANT YOUR RESULTS SAVED?</label>
</div>
<div id="buttons" class="buttonsDiv">
<table>
<tr>
	<td align="center">
  <!--button id="nextButton" class="button green navButton" onmousedown="gotoNextPage()"-->
	<button id="nextButton" class="button green navButton" onmousedown="javascript:window.location='/auth_menu';">
	<span>YES</span>
</button>
	</td>
	<td align="center">
	<!--button id="cancelButton" class="button navButton red" onmousedown="confirmCancelEntry();"-->
	<button id="cancelButton" class="button navButton red" onmousedown="javascript:window.location='/';">
<span>NO</span>
</button>
</td>
</tr>
</table>


</div>
</div>

</div>
</body>
</html>